/* stylelint-disable font-family-name-quotes */
// Imports
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap');

:root {
  // Edited variables
  --color-white: #fff;
  --width-body: 900px;
  --item-title-link-line-height: 1.23;
  --entry-content-line-height: 1.5;
  --item-title-link-font-size: 28px;
  --font-size-smaller: 16px;
  --font-size-meta: var(--font-size-smaller);
  --font-size-larger: 20px;
  --font-size-body: 18px;
  --item-meta-color: #fff;
  --item-meta-li-color-hover: #fff;
  --entry-date-color: #fff;
  --input-placeholder-color: #fff;
  --entry-header-border-color: transparent;
  --pagination-border-color: transparent;

  @media (max-width: 600px) {
    --item-title-link-font-size: 24px;
  }

  // Miniflux variables
  --font-family: "Inter", system-ui, -apple-system, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --body-color: #efefef;
  --body-background: #0d1118;
  --hr-border-color: #555;
  --title-color: var(--color-white);
  --link-color: var(--color-white);
  --link-focus-color: #ddd;
  --link-hover-color: #ddd;
  --header-list-border-color: #333;
  --header-link-color: #ddd;
  --header-link-focus-color: rgba(82, 168, 236, .85);
  --header-link-hover-color: rgba(82, 168, 236, .85);
  --header-active-link-color: #9b9494;
  --page-header-title-color: var(--color-white);
  --page-header-title-border-color: #333;
  --logo-color: #bbb;
  --logo-hover-color-span: #bbb;
  --table-border-color: #555;
  --table-th-background: #333;
  --table-th-color: var(--color-white);
  --table-tr-hover-background-color: #333;
  --table-tr-hover-color: var(--color-white);
  --button-primary-border-color: #888;
  --button-primary-background: #333;
  --button-primary-color: #efefef;
  --button-primary-focus-border-color: #888;
  --button-primary-focus-background: #555;
  --input-border: 1px solid #555;
  --input-background: #333;
  --input-color: #ccc;
  --input-focus-color: #efefef;
  --input-focus-border-color: rgba(82, 168, 236, .8);
  --input-focus-box-shadow: 0 0 8px rgba(82, 168, 236, .6);
  --alert-color: #efefef;
  --alert-background-color: #111;
  --alert-border-color: transparent;
  --alert-success-color: #efefef;
  --alert-success-background-color: #333;
  --alert-success-border-color: #888;
  --alert-error-color: #efefef;
  --alert-error-background-color: #333;
  --alert-error-border-color: #888;
  --alert-info-color: #efefef;
  --alert-info-background-color: transparent;
  --alert-info-border-color: transparent;
  --panel-background: #333;
  --panel-border-color: #555;
  --panel-color: #9b9b9b;
  --modal-background: #333;
  --modal-color: #efefef;
  --modal-box-shadow: 0 0 10px rgba(82, 168, 236, .6);
  --pagination-link-color: var(--color-white);
  --category-color: #efefef;
  --category-background-color: #333;
  --category-border-color: #888;
  --category-link-color: #999;
  --category-link-hover-color: var(--color-white);
  --item-border-color: transparent;
  --item-padding: 10px;
  --item-title-link-font-weight: 700;
  --item-status-read-title-link-color: #aaa;
  --item-status-read-title-focus-color: rgba(82, 168, 236, .6);
  --item-meta-focus-color: var(--color-white);
  --item-meta-li-color: #888;
  --current-item-border-width: 2px;
  --current-item-border-color: transparent;
  --current-item-box-shadow: 0 0 8px rgba(82, 168, 236, .6);
  --entry-header-title-link-color: var(--color-white);
  --entry-content-color: var(--color-white);
  --entry-content-code-color: var(--color-white);
  --entry-content-code-background: #000;
  --entry-content-code-border-color: transparent;
  --entry-content-quote-color: #777;
  --entry-content-abbr-border-color: #777;
  --entry-enclosure-border-color: #333;
  --parsing-error-color: #eee;
  --feed-parsing-error-background-color: #343434;
  --keyboard-shortcuts-li-color: #9b9b9b;
  --counter-color: #bbb;
}

// Logo
.logo {
  color: var(--color-white);
  font-family: 'Merriweather', serif;
  font-weight: 900;
  margin-left: var(--item-padding);
  position: relative;

  @media (max-width: 600px) {
    margin-bottom: 40px;
  }

  a,
  a span {
    color: var(--color-white);
    font-family: 'Merriweather', serif;
    font-weight: 900;
    letter-spacing: 0;
    transition: all .5s cubic-bezier(.19, 1, .22, 1), background-color .2s cubic-bezier(.19, 1, .22, 1);
  }

  a:hover,
  a:hover span,
  a:focus,
  a:focus span {
    color: var(--color-white);
    opacity: .7;
  }
}

// Body
body {
  font-size: var(--font-size-body);
  // Readability options
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // Container width
  max-width: var(--width-body);
  text-rendering: geometricPrecision;
}

// Listing header
.page-header {
  padding-left: var(--item-padding);

  // "No unread articles
  + p.alert,
  + p.alert.alert-info {
    background-image: url('https://www.rollemaa.fi/done.svg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 400px auto;
    border-radius: 4px;
    height: 400px;
    overflow: auto;
    text-align: center;
  }

  > ul {
    list-style: none;
    margin-left: 0;
    margin-top: 10px;
    padding-left: 0;

    a {
      font-size: var(--font-size-larger);
      opacity: .5;
      text-decoration: none;
      transition: all .5s cubic-bezier(.19, 1, .22, 1), background-color .2s cubic-bezier(.19, 1, .22, 1);
    }

    a:hover,
    a:focus {
      opacity: 1;
    }
  }
}

// Listing
.items {
  overflow: visible;
}

body .item {
  display: grid;
  margin-bottom: 20px;
  margin-top: 30px;
  overflow: visible;
}

// Hide favicons
.item-title img {
  display: none;
}

// Item titles
.item-title {
  display: block;
  font-size: var(--item-title-link-font-size);
  line-height: var(--item-title-link-line-height);
}

// Category
.category {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  clear: left;
  display: inline-block;
  float: left;
  font-size: inherit;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0;
  white-space: normal;

  a {
    border: 1px solid transparent;
    border-radius: 2em;
    color: var(--category-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    padding: 2px 7px;

    // Colored categories
    /* stylelint-disable sh-waqar/declaration-use-variable */
    &[href="/category/1/entries"] {
      background-color: #2e363e;
      border-color: #5b6876;
      color: #bbd5eb;
    }

    &[href="/category/2/entries"] {
      background-color: #0d2816;
      border-color: #125c1a;
      color: #1fd622;
    }

    &[href="/category/3/entries"] {
      background-color: #2e1528;
      border-color: #673d56;
      color: #e697bf;
    }

    &[href="/category/4/entries"] {
      background-color: #648cb6;
      border-color: #3f5772;
      color: #80b5ea;
    }

    &[href="/category/5/entries"] {
      background-color: #90b664;
      border-color: #56723f;
      color: #b0ea80;
    }

    &[href="/category/6/entries"] {
      background-color: #b6647d;
      border-color: #723f53;
      color: #ea80a3;
    }

    &[href="/category/7/entries"] {
      background-color: #28280d;
      border-color: #5c5512;
      color: #cad61f;
    }

    &[href="/category/8/entries"] {
      background-color: #100d28;
      border-color: #292a81;
      color: #5654e0;
    }
  }
}

// Meta data
.item-meta {
  li,
  a {
    color: var(--item-meta-li-color);
  }

  a {
    transition: all .5s cubic-bezier(.19, 1, .22, 1), background-color .2s cubic-bezier(.19, 1, .22, 1);
  }

  a:hover,
  a:focus {
    color: var(--item-meta-li-color-hover);
  }

  .item-meta-info {
    margin-top: 5px;
  }

  .item-meta-icons {
    clear: both;
    float: left;
    opacity: .7;
    transition: all .5s cubic-bezier(.19, 1, .22, 1), background-color .2s cubic-bezier(.19, 1, .22, 1);

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

// Single article
.entry {
  padding: var(--item-padding);
}

.entry-content {
  line-height: var(--entry-content-line-height);
}

body .entry-header h1 {
  margin: 80px 0 20px;
}

.entry-header {
  margin-bottom: 40px;
  margin-top: 60px;
  position: relative;

  .entry-date {
    font-size: 16px;
    font-style: normal;
    margin-bottom: -30px;
    margin-top: 0;
    opacity: .4;
    text-align: right;
  }

  .entry-meta {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    * {
      font-size: var(--font-size-meta);
    }

    .category {
      float: none;
      margin-bottom: 20px;
      margin-top: 0;
      order: 1;
      width: 100%;

      a {
        font-weight: 500;
        line-height: 18px;
        padding: 4px 12px;
      }
    }

    .entry-website {
      filter: grayscale(100%);
      order: 2;
      position: absolute;
      right: 0;
    }

    .entry-author {
      margin-left: 0;
      margin-top: 25px;
      order: 3;
      position: absolute;
      right: 0;
    }
  }
}

// Article heading hover
.entry header h1 a:hover,
.entry header h1 a:focus {
  color: var(--color-white);
}

.entry-website,
.entry-author,
.entry-date {
  color: var(--item-meta-color);
  opacity: .8;

  a {
    color: var(--item-meta-color);
    opacity: 1;
  }
}

.item-meta .icon,
.entry-actions .icon {
  margin-right: 5px;
}

// Focus color
a:focus {
  outline: max(1px, .1em) dashed currentColor;
  outline-offset: .35em;
}

// Pagination
.pagination-top {
  display: none;
}

.pagination {
  padding: var(--item-padding);
}

body .pagination-bottom {
  margin-bottom: 60px;

  a {
    font-size: var(--font-size-smaller);
    text-decoration: none;
  }
}

// Footer
.page-footer {
  margin-bottom: 30px;
  margin-top: 30px;
  padding: var(--item-padding);

  a {
    font-size: var(--font-size-larger);
    opacity: .5;
    text-decoration: none;
    transition: all .5s cubic-bezier(.19, 1, .22, 1), background-color .2s cubic-bezier(.19, 1, .22, 1);
  }

  a:hover,
  a:focus {
    opacity: 1;
  }
}

.page-header li,
.page-footer li {
  list-style: none;
}

// Code
.entry-content pre,
.entry-content code {
  border-radius: 6px;
}

.entry-content pre code {
  font-size: var(--font-size-smaller);
}

.entry-content pre {
  line-height: 1.33;
  padding: 15px;
}
